# MongoDB
MONGO_ADMIN_USER="admin"
MONGO_ADMIN_PASS="adminpass"
MONGO_HOST="localhost"
MONGO_PORT=27019
MONGO_DATABASE="recipes"

# Mongo Express UI
MONGO_EXPRESS_USER="expressuser"
MONGO_EXPRESS_PASS="expresspass"
