@import './reset.css';
@import './theme.scss';
@import './base.css';

#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: var(--color-page-bg);
}

@layer utilities {
  .container {
    width: 100%;

    @media (width >= 40rem) {
      max-width: 40rem;
    }
    @media (width >= 48rem) {
      max-width: 48rem;
    }
    @media (width >= 64rem) {
      max-width: 64rem;
    }
    @media (width >= 80rem) {
      max-width: 80rem;
    }
    @media (width >= 96rem) {
      max-width: 96rem;
    }
  }
}
